<%= form_with model: [@test, @comment], local: true do |form| %>
  <p>
    <%= form.label :body %>
    <%= form.text_area :body, id: :comment_text %>
  </p>

  <%= button_to t('.add'), test_comments_path(@test), method: :post, class:"test_button", params: { lang: I18n.locale } %>
<% end %>