<table class="codes_table">
<tr>
  <th class = 'th_code'>id</th>
  <th class = 'th_code'>Codes</th>
  <th class = 'th_code'>Threshold</th>
</tr>
<%= render @codes %>
</table>

<p><%= link_to 'New code', new_code_path %>
</p>