<h1><%= t('.header')%></h1>

<p class = 'btn'>
<%= link_to t('.new_test'), new_test_path %>
</p>
<br>
<p class = 'btn'>
<%= link_to t('.codes'), codes_path %>
</p>
<br>
<p class = 'btn'>
<%= link_to t('.address'), addresses_path %>
</p>

