<div class = 'general_index'>

  <h1><%= t('.header') %> </h1>

  <div class = 'block_button'>
    <%= button_to t('.new_test'), new_test_url, method: :get, class:"gen_button", params: { lang: I18n.locale } %>
    <br>
    <form action=find_test >
      <button class='gen_button'> Поиск теста </button>
     </form>
    <br>
    <form action=codes >
      <button class='gen_button'><%=  t('.codes') %></button>
    </form>
    <br>
    <form action=addresses >
      <button class='gen_button'><%=  t('.address') %></button>
    </form>

  </div>





</div>


