// Place all the styles related to the Codes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.codes_table { text-align: right;
    padding: 10px 0;
    font-size: 14px; 
    border: 1px solid grey;
    border-collapse: collapse;
    margin-top: 30px;
    margin-left: 10px;
}


.th_code {
        border: 1px solid grey;
        border-collapse: collapse;
     }

.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
   }

.btn:hover {
    color: rgba(0, 102, 204, 1);
    opacity: 0.8;
    transition-duration: .3s;
}


  