.comments {
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.comment_field {
    width: 500px;
    height: 100px;
    margin-top: 10px;
}

.comment_button {
    border: none;
    border-radius: 5px;
    padding: 12px 30px;
    background: #242425e1;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin-top: 5px;
 }

 .comment_table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
 }

 .comments_tab {
    margin-top: 10px;
 }

 .comment-errors {
    text-align: center;
 }

 .comment-form {
   margin-top: 30px;
 }