.gen_button {
    border: none;
    border-radius: 7px;
    padding: 10px 25px;
    background: #2400a7e1;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    width: 800px;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 100%;
 }

 .general_index {
   margin-top: -30px;
   margin: auto;
 }

 .block_button {
    margin-top: 30px;
 }

 .general_header {
   font-size: 40px;
   margin: auto;
   text-align: center;
 }