<div class = 'new_test'>
  <%= button_to t('.main_page'), general_path, method: :get, class:"page_button", params: { lang: I18n.locale } %>
  <h2><%= t('.header')%></h2>
  
  <%= render 'form' %>
</div>